---
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';
import type { Brands } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Brands;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {
      images &&
        images.map(
          (image) =>
            image && (
              <div class="flex justify-center col-span-1 my-2">
                <a href={image.url}>
                  <Image
                    class="max-h-12"
                    width={160}
                    {...image}
                  />
                </a>
              </div>
            )
        )
    }
  </div>
</WidgetWrapper>